In [15]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Accessing columns and rows
print("\nName column:")
print(df['Name'])
print("\nFirst row:")
print(df.iloc[0])

# Adding a new column
df['Gender'] = ['Female', 'Male', 'Male', 'Male']
print("\nDataFrame after adding Gender column:")
print(df)

# Filtering data
filtered_df = df[df['Age'] > 30]
print("\nFiltered DataFrame (Age > 30):")
print(filtered_df)

# Sorting data
sorted_df = df.sort_values(by='Age', ascending=False)
print("\nSorted DataFrame (by Age descending):")
print(sorted_df)

Original DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

Name column:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

First row:
Name       Alice
Age           25
City    New York
Name: 0, dtype: object

DataFrame after adding Gender column:
      Name  Age         City  Gender
0    Alice   25     New York  Female
1      Bob   30  Los Angeles    Male
2  Charlie   35      Chicago    Male
3    David   40      Houston    Male

Filtered DataFrame (Age > 30):
      Name  Age     City Gender
2  Charlie   35  Chicago   Male
3    David   40  Houston   Male

Sorted DataFrame (by Age descending):
      Name  Age         City  Gender
3    David   40      Houston    Male
2  Charlie   35      Chicago    Male
1      Bob   30  Los Angeles    Male
0    Alice   25     New York  Female